code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.organizers {
    text-align: center;
    color: rgba(43, 42, 42, 0.705);
    margin: 10px;
}

.chief_team,
.executive_team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main {

    width: 20%;
    user-select: none;
    border: 1px solid #ffffff22;
    color: white;
    background-color: #3b7af8;
    background: linear-gradient(0deg, #234280ab 0%, rgba(17, 15, 177, 0.61) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
    margin: 10px;
}

.main #view{
    background-color: #d35a36;
    padding: 5px;
}

.main .tokenImage {
    border-radius: 0.5rem;
    width: 100%;
    object-fit: cover;
}

.main #name {
    text-align: center;
    font-size: 1.3em;
}

.main #role {
    text-align: center;
    color: rgba(238, 238, 238, 0.842);
    font-size: 1.2em;
}

.main .description,
.main h5 {
    margin: 5px 10px;
    color: #ffffff;
}

.main ::before {
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
}

.main:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
}

.main:hover ::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
}

@media only screen and (max-width: 1430px) {
    .main h3 {
        font-size: 1.2em;
    }

    .main h5 {
        font-size: 1.1em;
    }

    .main .description {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 1200px) {
    .main {
        width: 50%;
        margin: 2em auto;
    }

    .main #name {
        font-size: 1.1em;
    }

    .main #role {
        font-size: 1em;
    }

    .main .description {
        font-size: 0.8em;
    }

    .chief_team {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }

    .executive_team {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-box {
    background: #fff;
    margin: 5% auto;
    padding: 30px;
    width: 80%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content-text {
    padding: 20px;
  }
  
  .modal-box h2,
  .modal-box h5,
  .modal-box p {
    margin-bottom: 10px;
  }
  
  .close-btn {
    font-size: 28px;
    font-weight: bold;
    color: #666;
    float: right;
    cursor: pointer;
  }
  